/*CABEÇALHO > ESTILO*/
.navMenu {
	width: 100vw;
	grid-template-columns: 100%;
	grid-template-rows: 5rem;
	grid-template-areas:
		"divMenu1"
		"divMenu2";
}

.divMenu1Logo {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
	align-items: center;
	flex: 30%;
	gap: 0.5rem;
	font-size: 0.7rem;
	color: white;
}

.divMenu1Logo h1 {
	color: white;
	transition: 0.5s;
}
.divMenu1Logo h1:hover {
	color: #ffd000;
	transition: 0.5s;
}

.divMenu1Logo img {
	height: 1.5rem;
	display: flex;
	align-self: center;
}
.divMenu1 {
	position: sticky;
	grid-area: divMenu1;
	padding: 0.7rem;
	background-color: #0081a1;
	display: flex;
	flex-direction: row;
}
.divMenu1Login ul {
	gap: 2rem;
	display: flex;
	align-items: center;
	flex-direction: row;
	/*justify-content: flex-end;*/
	list-style: none;
}
.divMenu1 ul li:hover {
	scale: 1.1;
}

.divMenu2 {
	width: 100vw;
	height: 3.5rem;
	z-index: 1;
	overflow-x: none;
	background-color: #0095ba;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	padding: 1rem;
	gap: 1rem;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
}

.divMenu2 a {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 2rem;
	gap: 1rem;
	color: white;
	background-color: #02a6cf;
	border: solid #69cae2 1px;
	border-radius: 1rem;
	padding: 0.25rem 0.84rem;
	border-radius: 2rem;
	box-shadow: 1px 1px 2px #0001;
}

.divMenu2 a.active {
<<<<<<< HEAD:src/components/Header/index.css
	border: 1px solid;
	border-color: #ffd000;
	display: flex;
	align-content: center;
	filter: brightness(1.1);
=======
	background-color: #ffd000;
	color: black;
>>>>>>> e28f18b23dbc0c9d0551ebdc954b92c85dab2e47:src/components/Header/header.css
}
.divMenu2 a:hover {
	filter: brightness(1.1);
}
.divMenu2 img {
	height: 100%;
}
