/*TODAS AS PÁGINAS > ESTILO*/

@font-face {
	font-family: PF Beau;
	src: url("/src/fonts/pfBeauSansPro.ttf");
}

a {
	/*todos os links*/
	text-decoration: none;
}

/*CORPO*/


/*SEÇÃO DO TÍTULO*/
.titulo {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 120px;
}

.titulo button,
.btn-cadastrar button {
	display: flex;
	margin: 0px 20px 0px 20px;
	padding: 10px 20px 10px 20px;
	background-color: #0095ba;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	color: #ffffff;
	align-items: center;
}

.titulo button:hover,
.btn-cadastrar button:hover {
	background-color: #006882;
}

.titulo img#icone-pagina {
	height: 30px;
	padding: 0px 20px 0px 20px;
}

.titulo img#icone-lista,
.btn-cadastrar img {
	height: 20px;
	padding-right: 20px;
}

.btn-cadastrar {
	display: flex;
	justify-content: center;
}

h1 {
	color: #0095ba;
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}
